@import url('https://fonts.googleapis.com/css?family=Barriecito|Do+Hyeon&display=swap');

/* 
	Fonts used:
	font-family: 'Barriecito', cursive;
	font-family: 'Do Hyeon', sans-serif;
*/

body {
	background-color: black;
	color: white;
	font-size: 16px;
	font-family: 'Do Hyeon', sans-serif;
}

h1, h2, h3 {
	font-family: 'Barriecito', cursive;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.75em;
	text-indent: 3%;
}

h3 {
	font-size: 1.5em;
	text-indent: 3%;
}

p {

}

.album-art {

}

.clear {
	clear: both;
}

.image-electronics, .image-stage-effects {
	
}

.record-label {

}

.track-list {

}

#about-photo {
	border-style: solid ; /*changes border to solid line*/
	border-color: red; /*changes border to red*/
	border-width: 2px; /*adjust border width 2pixels*/
	margin-left: 5px; /*adjust left margin 5pixels*/
	margin-right: 5px; /*adjust right margin 5pixels*/
	margin-top: 10px;  /*adjust top margin by 10px*/
	padding-left: 10px; /*adjust left padding 10pixels*/
	padding-right: 10px; /*adjust right padding 10pixels*/
	padding-top: 10px; /*adjust top of padding 10px*/
	padding-bottom: 10px; /*adjusts bottom padding 10px*/
}

#copyright {

}

#section-about, #section-discography, #section-equipment {
	border-style: solid ; /*changes border to solid line*/
	border-color: red; /*changes border to red*/
	border-width: 2px; /*adjust border width 2pixels*/
	margin-left: 5px; /*adjust left margin 5pixels*/
	margin-right: 5px; /*adjust right margin 5pixels*/
	margin-top: 10px;  /*adjust top margin by 10px*/
	padding-left: 5px; /*adjust left padding 5pixels*/
	padding-right: 5px; /*adjust right padding 5pixels*/

}

#text-intro {
	text-indent: 3%; /*indents text*/
	color: red; /*changes text color to red*/
	border-style: solid ; /*changes border to solid line*/
	border-color: red; /*changes border to red*/
	border-width: 2px; /*adjust border width 2pixels*/
	background-color: rgb(70, 70, 70); /*changes background color to dark grey*/
	margin-left: 5px; /*adjust left margin 5pixels*/
	margin-right: 5px; /*adjust right margin 5pixels*/
	padding-left: 5px; /*adjust left padding 5pixels*/
	padding-right: 5px; /*adjust right padding 5pixels*/
	height: 50px; /*adjust height to 50px*/
}